#contact-screen+* {
    &>* {
        max-width: 800px;
        margin: auto;
    }

    &>div { /* the container for the contact pictos */
        display: flex;
        gap: 15px;
        margin-top: 5px;

        img {
            width: 55px;
        }

        &.mail-icon {
            width: 52px;
            padding: 2px;
        }

        & figure { /* the grey box */
            width: 50%;
            text-align: center;
            background-color: var(--theme-color-2);
            padding: 15px;
            border-radius: 15px;

            &>img {
                width: 150px;
            }

            & figcaption {
                font-weight: bold;
            }
        }
    }

    &>h3 {
        font-size: 25px;
        border-top: 1px solid var(--theme-color-1);
        margin-top: 25px;
        padding-top: 15px;
    }
}

@media (width <= 850px) {
    #contact-screen+* {
        &>div {
            gap: 2px;
            margin-top: 20px;
        }
    }
}
