*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    color: var(--theme-color-1);
    text-decoration: none;
    transition: filter 0.2s, color 0.2s, background-color 0.2s;
    color-scheme: light dark;
    /*outline: none;*/
    font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body {
    background-color: var(--theme-color-0);
    /* so the navigation doesn't jump around */
    overflow-y: scroll;
}

h1 {
    font-size: 60px;
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        transition: none !important;
    }
}

@media (hover: hover) {
    :is(label, button, a):hover {
        filter: brightness(50%);
        cursor: pointer;
    }
}

:is(label, button, a):focus-visible {
    filter: brightness(50%);
}
