#information-screen+* {
    &>* {
        max-width: 800px;
        margin: auto;
    }

    h1 {
        margin-bottom: 20px;
    }

    summary {
        display: flex;
        font-size: 20px;
        padding: 10px;
        background-color: var(--theme-color-2);
        border: 1px solid #000;
        border-bottom: 0;
        list-style: none;
        gap: 20px;
        cursor: pointer;

        &::before { /* for the arrows */
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-style: solid;
            border-color: #0000 #000 #000 #0000;
            border-width: 1px;
            rotate: -45deg;
            transition: all 0.2s;
            margin-top: 9px;
        }

        &::-webkit-details-marker { /* to hide the marker in safari browser*/
            display: none;
        }
    }

    details[open]>summary::before { /* that the arrow rotates*/
        rotate: 45deg;
        margin-top: 8px;
    }

    details { /* one section of the information menu */
       border-bottom: 0;

        &[open] {
            &>p {
                border-top: 1px solid #000;
            }

            &>div {
                overflow-x: auto; /* to scroll through the table in mobile */
                padding: 20px;
                border: 1px solid #000;
                border-top: 1px solid #000;
                border-bottom: none;
            }
        }

        &:first-of-type {
            &>summary { /* to have round borders */
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }

            &>p {
                border-top: none;
            }
        }

        &:last-of-type {
            &>summary, p { /* to have round borders */
                border-bottom: 1px solid #000;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            & p {
                border-top: none;
                margin-bottom: 150px; /* to read the last section easier */
            }

            &[open] summary {
                border-radius: 0;
            }
        }
    }

    p {
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        padding: 10px;
    }

    ul { /* for the gallery with the trails*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        padding: 10px;
        border: 1px solid #000;
        border-bottom: none;
    }

    li {
        margin: 20px 0;

        &>img {
            width: 80%;
        }
    }

    img {
        display: block;
        width: 30%; /* for the association img */
        border-radius: 15px;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        padding: 15px;
    }

    th, td {
        border: 1px solid #bbb;
        text-align: left;
        padding: 8px;
    }

    /* Style the Image Used to Trigger the Modal */
    .myImg {
        cursor: pointer;
    }

    .myImg:hover {
        opacity: 0.7;
    }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }

    /* The button for the modal */
    .close, .download {
        position: absolute;
        top: 15px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close {
        right: 35px;
    }

    .download {
        right: 100px;
    }

    .close:hover,
    .close:focus,
    .download:hover,
    .download:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}
