#information-screen+* {
    &>* {
        max-width: 800px;
        margin: auto;
    }

    h1 {
        margin-bottom: 20px;
    }

    summary {
        display: flex;
        font-size: 20px;
        padding: 10px;
        background-color: var(--theme-color-2);
        border: 1px solid #000;
        border-bottom: 0;
        list-style: none;
        gap: 20px;
        cursor: pointer;

        &::before { /* for the arrows */
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-style: solid;
            border-color: #0000 #000 #000 #0000;
            border-width: 1px;
            rotate: -45deg;
            transition: all 0.2s;
            margin-top: 9px;
        }

        &::-webkit-details-marker { /* to hide the marker in safari browser*/
            display: none;
        }
    }

    details[open]>summary::before { /* that the arrow rotates*/
        rotate: 45deg;
        margin-top: 8px;
    }
    
    details { /* one section of the information menu */
       border-bottom: 0;
       
        &[open] {
            &>p {
                border-top: 1px solid #000;
            }

            &>div {
                overflow-x: auto; /* to scroll through the table in mobile */
                padding: 20px;
                border: 1px solid #000;
                border-top: 1px solid #000;
                border-bottom: none;
            }
        }

        &:first-of-type {
            &>summary { /* to have round borders */
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
    
            &>p {
                border-top: none;
            }
        }

        &:last-of-type {
            &>summary, p { /* to have round borders */
                border-bottom: 1px solid #000;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
    
            & p {
                border-top: none;
                margin-bottom: 150px; /* to read the last section easier */
            }
    
            &[open] summary {
                border-radius: 0;
            }
        }
    }

    p {
        padding: 10px;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    img {
        display: block;
        width: 30%;
        border-radius: 15px;
        margin-top: 20px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        padding: 15px;
    }

    th, td {
        border: 1px solid #bbb;
        text-align: left;
        padding: 8px;
    }
}
