body {
    display: flex; /* for the footer */
    flex-direction: column;
    min-height: 110vh; /* that you don't see the footer */
}

main { 
    flex: 1; /* so that it fills any remaining space */
}

header {
    position: fixed; /* that it stayes there */
    inset: 0 0 auto 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    background: linear-gradient(0deg, #0000 0%, var(--theme-color-0) 100%); /* gradient under the header */
    z-index: 1;
    pointer-events: none; /* so that you can click under the header*/

    &>label {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        pointer-events: all; /* that you can select a title */

        &>img {
            max-width: 170px;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;
    gap: 20px;

    &>label {
        pointer-events: all;
    }

    &>* {
        padding: 3px;
        margin-left: auto;
    }

    &>a {
        background-color: var(--theme-color-3);
        border-radius: 3px;
    }
}

main {
    /* hard-coded top so nav doesn't cover content */
    padding: 100px 10px 10px 10px;
}

input[name="navigation"],
input[name="navigation"]:not(:checked)+* {
    display: none; /* don't show the pages which aren't selected */
}   

:has(#news-screen:checked) nav>[for=news-screen],
:has(#sponsors-screen:checked) nav>[for="sponsors-screen"],
:has(#volunteers-screen:checked) nav>[for="volunteers-screen"],
:has(#results-screen:checked) nav>[for="results-screen"],
:has(#contact-screen:checked) nav>[for="contact-screen"],
:has(#information-screen:checked) nav>[for="information-screen"],
:has(#registration-screen:checked) nav>[for="registration-screen"]{
    color: var(--theme-color-1);
    text-decoration: underline;
    font-weight: bold;
}


@media (width <= 966px) {
    header{
        &>label {
            display: none;
        }
    }
} 
