/* the main styling for mobile */
@media (width <= 700px) {
    body {
        height: 100svh;
        display: grid;
        grid-template-rows: 1fr auto;
        overflow: hidden;
        min-height: 0;
    }

    main {
        grid-row: 1 / span 1;
        margin-bottom: auto;
        height: 100%;
        overflow-y: auto;
        padding-top: 10px;

    }

    footer {
        display: none;
    }
    
    h1 {
        font-size: 40px;
    }

    header {
        /* put back into regular flow */
        position: unset;
        display: block;
        border-top: 1px solid var(--theme-color-1);
        pointer-events: all; 
        background: #FF914D;

        &>label {
            display: none;
        }

        &>nav {
            justify-content: space-evenly;
            
            &>label {
                /* hide text */
                font-size: 0;
                width: 40px;
                height: 40px;
                background-color: #000;
                mask-position: center;
                mask-repeat: no-repeat;
                -webkit-mask-position: center;
                -webkit-mask-repeat: no-repeat;
                margin: 0;

                &[for="news-screen"] {
                    mask-image: url("./icons/home.svg");
                    -webkit-mask-image: url("./icons/home.svg");
                }

                &[for="information-screen"] {
                    mask-image: url("./icons/info.svg");
                    -webkit-mask-image: url("./icons/info.svg");
                }

                &[for="sponsors-screen"] {
                    mask-image: url("./icons/sponsor.svg");
                    -webkit-mask-image: url("./icons/sponsor.svg");
                }

                &[for="results-screen"] {
                    mask-image: url("./icons/results.svg");
                    -webkit-mask-image: url("./icons/results.svg");
                }
                
                &[for="registration-screen"] {
                    mask-image: url("./icons/register.svg");
                    -webkit-mask-image: url("./icons/register.svg");
                }
                
                &[for="contact-screen"], &[for="volunteers-screen"] {
                    display: none;
                }

            }
        }
    }

    /* on mobile these two menu's collapse to one */ 
    #sponsors-screen:checked~:is(#contact-screen+*) {
        border-top: 1px solid var(--theme-color-1);
        margin: 5px;
        padding: 5px;
        display: block;
    }

    #registration-screen:checked~:is(#volunteers-screen+*) {
        border-top: 1px solid var(--theme-color-1);
        margin: 35px 5px;
        padding: 35px 5px;
        display: block;
    }
}