#news-screen+* {
    &>* {
        max-width: 800px;
        margin: 15px auto;
    }

    &>img { /* the logo*/
        width: 100%;
        display: block;
        border-radius: 15px;
    }

    &>div { /* the container for the 3 information boxes */
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 30px auto;

            &>img {
            height: auto;
            width: 100%;
            max-width: 400px;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
        }
    }

    figure { /*the 3 grey boxes */
        width: 300px;
        text-align: center;
        background-color: var(--theme-color-2);
        padding: 15px;
        border-radius: 15px;
    }

    .logo-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;

       &>img {
        height: auto;
        width: 100%;
        margin: 20px 0;
       }
    }

    label { /* the buttons*/
        min-width: 200px;
        width: 400px;
        padding: 5px 15px;
        border-radius: 25px;
        text-align: center;
        color: #000;
        background-color: var(--theme-color-3);
        box-shadow: 0 3px 0 #a45d31;
        transition: all 0.08s ease-in-out; /* that the box shadow diappears slowly*/

        &:first-child { /*the green button*/
            background-color: #9bfab3;
            box-shadow: 0 3px 0 #437b23;
        }

        &:hover { /* that you can really press on the buttons*/
            box-shadow: 0 0 0 #0000;
            transform: translateY(3px);
            cursor: pointer;
        }
    }
}

@media (width <= 700px) {
    #news-screen+* {
        &>div { /* that the boxes are responsive*/
            display: grid;
            grid-template-columns: 1fr;
            max-width: unset;

            &>figure {
                width: auto;
            }
        }

        &>article {
            display: block;
        }

        & label {
            width: auto;
        }
    }
}
