#photos-screen+* {
    &>* {
        max-width: 800px;
        margin: auto;
    }

    & a {
        display: inline-block;
        color: var(--theme-color-5);
        background-color: var(--theme-color-3);
        border: none;
        border-radius: 55px;
        padding: 7.5px 15px;
        font-size: 30px;
        box-shadow: 0 5px 0 #a45d31;
        margin-top: 20px;
        transition: all 0.08s ease-in-out;
    }

    & a:hover {
        box-shadow: 0 0 0 #a45d31;
        transform: translateY(3px);
        cursor: pointer;
    }
}