#programm-screen+* {
    &>* {
        max-width: 800px;
        margin: auto;
    }

    th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }

    .bold-line {
        border-top: 2px solid #ddd;
    }

    &>table {
        border-collapse: collapse;
        width: 100%;
        border: 2px solid #ddd;
    }

    &>p {
        margin-top: 30px;
    }
}