#registration-screen+* {
    &>* {
        max-width: 800px;
        margin: auto;
    }

    &>div {
        display: flex;
        justify-content: space-between;

        &>a {
            color: var(--theme-color-5);
            background-color: var(--theme-color-3);
            border: none;
            border-radius: 55px;
            padding: 7.5px 15px;
            font-size: 25px;
            box-shadow: 0 5px 0 #a45d31;
            margin-top: 10px;
            margin-bottom: 50px;
            transition: all 0.08s ease-in-out;
            max-width: 300px;

            &:hover {
                box-shadow: 0 0 0 #0000;
                transform: translateY(3px);
                cursor: pointer;
            }
        }
    }


    &>p>a {
        text-decoration: underline;
    }

}

@media (width <= 850px) {
    #registration-screen+* {
        & div {
            flex-direction: column;
        }

        & a {
            margin-right: 20px;
        }
    }
}
