#registration-screen+* {
    &>* {
        max-width: 800px;
        margin: auto;
    }

    div {
        display: flex;
        gap: 10px;
    }

    a {
        color: #000;
        background-color: var(--theme-color-3);
        border: none;
        border-radius: 55px;
        padding: 7.5px 15px;
        font-size: 30px;
        box-shadow: 0 5px 0 #a45d31;
        margin-top: 10px;
        margin-bottom: 50px;
        transition: all 0.08s ease-in-out;

        &:hover {
            box-shadow: 0 0 0 #a45d31;
            transform: translateY(3px);
            cursor: pointer;
        }
    }

    p a:last-of-type {
        background-color: unset;
        box-shadow: unset;
        margin: unset;
        padding: unset;
        font-size: unset;
    }

}

@media (width <= 700px) {
    div {
        flex-direction: column;
    }

    a {
        margin-right: 20px;
    }
}
