#sponsors-screen+* {
    &>* {
        max-width: 800px;
        margin: auto;
    }

    &>ul {
        list-style-type: none;
        font-size: 20px;
        text-align: center;
        padding: 0;

        &>li {
            margin: 20px 0;
        }
    }

    /* TODO: this class seems unnecessary, maybe change to `div`? */
    &>.logo-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;

       &>img {
            height: auto;
            width: 100%;
            max-width: 400px;
            margin: 20px 0;
       }
    }
}

@media (width <= 700px) {
    #sponsors-screen+* {
        & div {
            display: grid;
            grid-template-rows: 1fr auto;
        }
    }
}
