:root {
    --theme-color-0: #EEE;
    --theme-color-1: #333;
    --theme-color-2: #DDD;
    --theme-color-3: #ff914d;
    --theme-color-4: #9bfab3;
    --theme-color-5: #000;

}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-color-0: #333;
        --theme-color-1: #EEE;
        --theme-color-2: #444;
        --theme-color-3: #FF914D;
        --theme-color-5: #EEE;
    }    
}
