#volunteers-screen+* {
    &>* {
        text-align: center;
        margin: 15px;
    }

    &>a {
        display: block;
        margin: auto;
        width: max-content;
        padding: 15px;
        background-color: var(--theme-color-3);
        font-size: 60px;
        border-radius: 25px;
        font-weight: 600;
        box-shadow: 0 2px 2px 0 #e6e6e6;
    }
}
