#volunteers-screen+* {
    &>* {
        text-align: center;
        margin: 15px;
    }

    &>a {
        display: block;
        margin: auto;
        width: max-content;
        padding: 3px;
        border-radius: 5px;
        background-color: var(--theme-color-3);
        font-size: 50px;
    }
}
